<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<display-name>HotelReservation</display-name>

<servlet>
<servlet-name>HomeServ</servlet-name>
<servlet-class>com.hotel.servelet.HomeServ</servlet-class>
</servlet>


<servlet>
<servlet-name>LoginServ</servlet-name>
<servlet-class>com.hotel.servelet.LoginServ</servlet-class>
</servlet>

<servlet>
<servlet-name>AllHotelsServ</servlet-name>
<servlet-class>com.hotel.servelet.AllHotelsServ</servlet-class>
</servlet>

<servlet>
<servlet-name>HotelServ</servlet-name>
<servlet-class>com.hotel.servelet.HotelServ</servlet-class>
</servlet>

<servlet>
<servlet-name>BookingServ</servlet-name>
<servlet-class>com.hotel.servelet.BookingServ</servlet-class>
</servlet>

<servlet>
<servlet-name>LogoutServ</servlet-name>
<servlet-class>com.hotel.servelet.LogoutServ</servlet-class>
</servlet>

<servlet>
<servlet-name>AboutServ</servlet-name>
<servlet-class>com.hotel.servelet.AboutServ</servlet-class>
</servlet>

<servlet>
<servlet-name>ContactServ</servlet-name>
<servlet-class>com.hotel.servelet.ContactServ</servlet-class>
</servlet>

<servlet>
<servlet-name>RegisterServ</servlet-name>
<servlet-class>com.hotel.servelet.RegisterServ</servlet-class>
</servlet>

<servlet>
<servlet-name>ReviewServ</servlet-name>
<servlet-class>com.hotel.servelet.ReviewServ</servlet-class>
</servlet>

<servlet>
<servlet-name>ManageHotelServ</servlet-name>
<servlet-class>com.hotel.servelet.ManageHotelServ</servlet-class>
<multipart-config>
	<location>/tmp</location>
    <max-file-size>20848820</max-file-size>
    <max-request-size>418018841</max-request-size>
    <file-size-threshold>1048576</file-size-threshold>
</multipart-config>
</servlet>



<servlet-mapping>
<servlet-name>HomeServ</servlet-name>
<url-pattern></url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>LoginServ</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>AllHotelsServ</servlet-name>
<url-pattern>/Hotels</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>HotelServ</servlet-name>
<url-pattern>/Hotel</url-pattern>
</servlet-mapping>


<servlet-mapping>
<servlet-name>BookingServ</servlet-name>
<url-pattern>/Booking</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>LogoutServ</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>AboutServ</servlet-name>
<url-pattern>/About</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ContactServ</servlet-name>
<url-pattern>/Contact</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>RegisterServ</servlet-name>
<url-pattern>/Register</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ManageHotelServ</servlet-name>
<url-pattern>/ManageHotel</url-pattern>
</servlet-mapping>

</web-app>
